html {

    background: url('../bg.jpg') no-repeat center center fixed;
    background-size: auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.map_img {
    border: 0;
    width: 100%;
}